/* Variables */
$color-green: #3e6e54;
$color-red: #ff4447;
$color-blue: #c0e0e2;
$color-text: #4c2525;
$color-white: #ffffff;
$color-gray: #606471;

@import "home";
@import "header";
@import "footer";