.site-footer {
    background-color: $color-gray;
    color: $color-white;
    a {
        color: $color-white;
        &:hover {
            color: $color-blue;
        }
    }
    .text {
        color: $color-white;
    }
    .icon {
        svg {
            path {
                fill: $color-blue;
            }
        }
    }
}